<title> Home</title>

<body>
	<div class="container">
		<div class="col-md-8 offset-md-2">
			<h1>Home </h1>
			<h1><%- user %></h1>
			<a href="/user/logout/">Logout</a>
		</div>
	</div>
</body>

</html>