
<head>
	<title>Organica | Home</title>
	<!-- Meta tag Keywords -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8" />
	<meta name="keywords" content="FarmBizz Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"
	/>
	<!-- //Meta tag Keywords -->

	<!-- Favicon -->
    <link rel="icon" href="images/favicon.png" type="image/x-icon" />
	<!-- Custom-Files -->
	<link rel="stylesheet" href="css/bootstrap.css">
	<!-- Bootstrap-Core-CSS -->
	<link rel="stylesheet" href="css/lightbox.css">
	<!-- lightbox css -->
	<link rel="stylesheet" href="css/owl.carousel.css" type="text/css" media="all">
	<link rel="stylesheet" href="css/owl.theme.css" type="text/css" media="all">
	<!-- Carousel (for News section) -->
	<link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" property="" />
	<!-- Flexslider css (for Testimonials) -->
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link rel="stylesheet" href="css/fontawesome-all.css">
	<!-- Font-Awesome-Icons-CSS -->
	<!-- //Custom-Files -->

	<!-- Web-Fonts -->
	<link href="//fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&amp;subset=cyrillic,latin-ext,vietnamese"
	    rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=devanagari,latin-ext"
	    rel="stylesheet">
	<!-- //Web-Fonts -->

</head>

<body>
	<!-- header -->
	<header>
		<!-- navigation -->
		<nav class="navbar navbar-expand-lg navbar-light px-sm-5 px-3 py-0">
			<h1>
				<a class="navbar-brand py-2" href="/"><img src="images/logo.png" alt="logo"></a>
			</h1>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
			    aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto px-lg-4 py-4">
					<li class="nav-item mx-lg-3 my-lg-0 my-3">
						<a class="nav-link active" href="/">Home
							<span class="sr-only">(current)</span>
						</a>
					</li>
					
					<li class="nav-item mx-lg-3 my-lg-0 my-3">
						<a class="nav-link js-scroll-trigger" href="/user">My Account</a>
					</li>
					<li class="nav-item mx-lg-3 my-lg-0 my-3">
						<a class="nav-link js-scroll-trigger" href="/user/login">Login</a>
					</li>
					</li>
					<li class="nav-item mx-lg-3 my-lg-0 my-3">
						<a class="nav-link js-scroll-trigger" href="#about">About Us</a>
					</li>
					<li class="nav-item mx-lg-3 my-lg-0 my-3">
						<a class="nav-link js-scroll-trigger" href="#services">Services</a>
					<li class="nav-item mx-lg-3 my-lg-0 my-3">
						<a class="nav-link js-scroll-trigger" href="#team">Our Team</a>
					</li>
					<li class="nav-item mx-lg-3">
						<a class="nav-link js-scroll-trigger" href="#contact">Contact Us</a>
					</li>
				</ul>
			</div>
		</nav>
		<!-- //navigation -->
	</header>
	<!-- //header -->

	<!-- banner -->
	<!-- banner slider -->
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		</ol>
		<!-- Wrapper for slides -->
		<div class="carousel-inner">
			<div class="carousel-item active">
				<div class=" banner-slider1">
					<div class="banner-agile-text text-white text-center col-lg-8 col-md-8 col-sm-6 mx-auto">
						<h4 class="text-uppercase">Organic Food</h4>
						<p>The secret behind a healthy life... </p>
						<a href="/user">
							<button class="btn btn-primary" style="color: white;">Order Now</button>
						</a>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class=" banner-slider2">
					<div class="banner-agile-text text-white text-center col-lg-8 col-md-8 col-sm-6 mx-auto">
						<h4 class="text-uppercase">Availability & Cost</h4>
						<p>Now available widely and as cost efficient as normal crops and fruits.</p>
						<a href="/user">
							<button class="btn btn-primary" style="color: white;">Order Now</button>
						</a>
					</div>
				</div>
			</div>
			<div class="carousel-item">
				<div class=" banner-slider3">
					<div class="banner-agile-text text-white text-center col-lg-8 col-md-8 col-sm-6 mx-auto">
						<h4 class="text-uppercase">Delivery</h4>
						<p>Fast and efficient delivery at your doorsteps.</p>
						<a href="/user">
							<button class="btn btn-primary" style="color: white;">Order Now</button>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- Left and right controls -->
		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
	<!-- //banner slider -->
	<!-- //banner -->

	<!-- banner bottom -->
	<section class="about" id="about">
		<div class="container">
			<div class="d-flex">
				<div class="col-lg-5 agileits_works-grid">
					<h3 class="tittle mb-xl-5 mb-4 text-dark">
						<span class="text-uppercase">About Us</span>Organica</h3>
					<p>We are an organization dedicated to create an organic food supply chain in world. Our aim is to provide organic crops and fruits to customers directly from the farms cutting down the middle-men. </p>
				</div>
				<div class="col-lg-7 agileits_works-grid1 text-right">
					<img src="images/bg.jpeg" alt="" class="img-fluid first-img" />
					<img src="images/img4.jpg" alt="" class="img-fluid img-posi-2" />
				</div>
			</div>
		</div>
	</section>
	<!-- //banner bottom -->

	<!-- middle section -->
	<section class="middle-fbz text-center" id="services">
		<div class="container">
			<h3 class="tittle mb-xl-5 mb-4 text-white">Organica</h3>
			<p>Our motto is to create awareness about organic food and implications of chemical agricluture on our health.</p>
			<div class="row mt-5">
		        <div class="col-md-3 col-sm-12">
		            <div class="serviceBox">
		                <div class="service-icon"> 01 </div>
		                <div class="service-content">
		                    <h3 class="title"> Pure Organic food</h3>
		                    <p class="description">We provide organic food to all the customers at their homes directly from the farm.</p>
		                </div>
		            </div>
		        </div>

		        <div class="col-md-3 col-sm-12">
		            <div class="serviceBox">
		                <div class="service-icon"> 02 </div>
		                <div class="service-content">
		                    <h3 class="title">Home Delivery</h3>
		                    <p class="description">The delivery of items is efficient as well as fast directly at your doorsteps.</p>
		                </div>
		            </div>
		        </div>

		        <div class="col-md-3 col-sm-12">
		            <div class="serviceBox">
		                <div class="service-icon"> 03 </div>
		                <div class="service-content">
		                    <h3 class="title">Live order tracking</h3>
		                    <p class="description">Order can now be tracked live with the help of maps by the customers. </p>
		                </div>
		            </div>
		        </div>

		        <div class="col-md-3 col-sm-12">
		            <div class="serviceBox">
		                <div class="service-icon"> 04 </div>
		                <div class="service-content">
		                    <h3 class="title">Cost efficient</h3>
		                    <p class="description">Now organic food available at the same price as compared to the other products. </p>
		                </div>
		            </div>
		        </div>
		    </div>

		</div>
	</section>
	<!-- //middle section -->

	<!-- Team -->
	<section class="our_team" id="team">
		<div class="container">
			<h3 class="tittle mb-xl-5 mb-4 text-dark text-center">Our Team</h3>
			<div class="row mt-5">
		        <div class="col-md-3 col-sm-12">
		            <div class="our-team">
		                <div class="pic">
		                    <img src="images/ot-1.jpeg" alt="our-team">
		                    <ul class="social">
		                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
		                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
		                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
		                    </ul>
		                </div>
		                <div class="team-content">
		                    <h3 class="title">Siddharth Tandale</h3>
		                    <span class="post">Developer</span>
		                </div>
		            </div>
		        </div>

		        <div class="col-md-3 col-sm-12">
		            <div class="our-team">
		                <div class="pic">
		                    <img src="images/ot-2.jpeg"  alt="our-team">
		                    <ul class="social">
		                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
		                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
		                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
		                    </ul>
		                </div>
		                <div class="team-content">
		                    <h3 class="title">Yash Hoke</h3>
		                    <span class="post">Developer</span>
		                </div>
		            </div>
		        </div>

		        <div class="col-md-3 col-sm-12">
		            <div class="our-team">
		                <div class="pic">
		                    <img src="images/pro3.jpeg" alt="our-team">
		                    <ul class="social">
		                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
		                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
		                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
		                    </ul>
		                </div>
		                <div class="team-content">
		                    <h3 class="title">Piyush Shinde</h3>
		                    <span class="post">Developer</span>
		                </div>
		            </div>
		        </div>

		        <div class="col-md-3 col-sm-12">
		            <div class="our-team">
		                <div class="pic">
		                    <img src="images/ot-4.jpg" alt="our-team">
		                    <ul class="social">
		                        <li><a href="#"><i class="fab fa-facebook"></i></a></li>
		                        <li><a href="#"><i class="fab fa-google-plus"></i></a></li>
		                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
		                    </ul>
		                </div>
		                <div class="team-content">
		                    <h3 class="title">Suraj Kale</h3>
		                    <span class="post">Developer</span>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</section>

	<!--// Team -->

	<!-- contact -->
	<section class="contact" id="contact">
		<div class="container">
			<h3 class="tittle mb-xl-5 mb-4 text-dark text-center">Get In Touch</h3>
			<div class="row contact_wthreerow agileits-fbz pt-4">
				<div class="col-md-7 w3l_contact_form">
					<h4 class="mb-4">Contact Form</h4>
					<form action="#" method="post">
						<div class="form-group">
							<input type="text" name="Name" class="form-control" placeholder="Name" required="">
						</div>
						<div class="form-group">
							<input type="email" name="Email" class="form-control" placeholder="Email" required="">
						</div>
						<div class="form-group">
							<textarea name="Message" class="form-control" placeholder="Message.."></textarea>
						</div>
						<input type="submit" value="Submit">
					</form>
				</div>
				<div class="col-md-5 agileits_fbz_contact_gridl mt-md-0 mt-4">

					<div class="agileits_mail_grid_right_grid mt-md-5 mt-4">
						<h4 class="mb-4">Contact Info</h4>
						<ul class="contact_info list-unstyled">
							<li>
								<i class="fas fa-location-arrow mr-3"></i> Sangli, Maharashtra, India</li>
							<li class="my-3">
								<i class="fas fa-envelope-open mr-3"></i>
								<a href="mailto:info@example.com">shindepiyush1905@gmail.com</a>
							</li>
							<li>
								<i class="fas fa-phone mr-3"></i>+919766215979</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- map -->
	<!-- <div class="fbz_map">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48306.05339877067!2d-74.245183970742!3d40.825144655510556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2555646a723a1%3A0x449f3366d017b214!2sMontclair%2C+NJ%2C+USA!5e0!3m2!1sen!2sin!4v1465991700675"
		    style="border:0"></iframe>
	</div> -->
	<!-- //map -->
	<!-- //contact -->

	<!-- footer -->
    <footer class="footer">
    	<div class="container">
    		<div class="row">
    			<div class="col-md-4 pr-30">
    				<div class="footer_about">
    					<h3>ABOUT US</h3>
    					<div class="line-title-left"></div>
    				</div>
    			</div>
    			<div class="col-md-4">
    				<div class="footer_address">
    					<h3>ADDRESS</h3>
    					<div class="line-title-left"></div>
    					<ul class="address-list">
							<li>
								<p><i class="fas fa-map-marker"></i>Sangli, Maharashtra, India</p>
							</li>
							<li>
								<p><i class="fas fa-mobile-alt"></i>9766215979</p>
							</li>
							<li>
								<p><i class="far fa-envelope"></i>shindepiyush1905@gmail.com</p>
							</li>
						</ul>
						<ul class="footer_social list-inline">
							<li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
							<li class="list-inline-item"><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
						</ul>
    				</div>
    			</div>
    		</div>
    	</div>
    	<div class="sub-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<p class="text-center">
							 <a href="#" class="green_clr"></a> All Rights Reserved.
						</p>
					</div>
				</div>
			</div>
		</div>
    </footer>
	<!-- //footer -->


	<!-- Js files -->
	<!-- JavaScript -->
	<script src="js/jquery-2.2.3.min.js"></script>
	<!-- Default-JavaScript-File -->
	<script src="js/bootstrap.js"></script>
	<!-- Necessary-JavaScript-File-For-Bootstrap -->

	<!-- carousel (for new section) -->
	<script src="js/owl.carousel.js"></script>
	<script>
		$("#testimonial-slider").owlCarousel({
        items:1,
        itemsDesktop:[1000,1],
        itemsDesktopSmall:[979,1],
        itemsTablet:[768,1],
        pagination:false,
        navigation:true,
        navigationText:["",""],
        autoPlay:true
    });
	</script>
	<!-- //carousel (for new section) -->

	<!-- flexSlider (for testimonials) -->
	<script defer src="js/jquery.flexslider.js"></script>
	<script>
		$(window).load(function () {
			$('.flexslider').flexslider({
				animation: "slide",
				start: function (slider) {
					$('body').removeClass('loading');
				}
			});
		});
	</script>
	<!-- //flexSlider (for testimonials) -->
	<!-- gallery -->
	<script src="js/lightbox-plus-jquery.min.js"></script>
	<!-- smooth scrolling -->
	<script src="js/SmoothScroll.min.js"></script>
	<!-- move-top -->
	<script src="js/move-top.js"></script>
	<!-- easing -->
	<script src="js/easing.js"></script>
	<!--  necessary snippets for few javascript files -->
	<script src="js/main.js"></script>

	<!-- //Js files -->

</body>