<title> Login</title>

<body>
	<%- include('../partials/message') %>
		<div class="container">
			<div class="col-md-8 offset-md-2">
				<div class="form_bg">
					<form method="POST" action="/user/login" onSubmit="return checkMobileNumber()">
						<h2 class="text-center mb-3 mt-5 fs-1">Login </h2>

						<br />
						<div aclass="form-group mb-3">
							<input type="tel" class="form-control" name="username" placeholder="Mobile Number">
						</div>
						<br>
						<div class="form-group mb-3">
							<input type="password" class="form-control" name="password" placeholder="Password">
						</div>
						<br>
						<div class="align-center mb-3 offset-md-5">
							<button type="submit" class="btn btn-default btn-dark" id="login">Login</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script type="text/javascript">
			function checkMobileNumber() {
				if (document.getElementsByName('username')[0].value.length > 10 || document.getElementsByName('username')[0].value.length == 0) {
					alert('Please enter valid mobile number.')
					return false;
				}
				else if(document.getElementByName('password')[0].value.length == 0){
					
				}
				return true;
			}
		</script>
</body>